<p class="min-h-20">status works!</p>


<div class="py-20 xs:max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl mx-auto">

    <div class="bg-green-500 border rounded-lg mb-5 p-10">
        <p *ngIf="Payment">por cuestiones de prueba no se muestra
            la "external_reference" en el brink, recalcando
            la importancia que tiene este para el usuario
            he decidido comentarla en este parrrafo 
            <a class="text-yellow-300"> {{Payment.external_reference}}</a></p>
    </div>

    <div id="statusScreenBrick_container" ></div>

</div>
